@import "tailwindcss";

:root {
  --background: #FDFBFB;
  --foreground: #010000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lora), ui-sans-serif, system-ui, sans-serif;
  --font-serif: var(--font-playfair), ui-serif, Georgia, serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #010000;
    --foreground: #FDFBFB;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
